In [1]:
import pandas as pd
import os
from datetime import datetime

In [73]:
data_files = os.listdir('../csv_downloads/weather')
data_files

['POWER_Point_Hourly_20200901_20200930_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20210601_20210630_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20190701_20190731_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20201001_20201031_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20200401_20200430_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20190501_20190531_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20200201_20200229_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20191101_20191130_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20210401_20210430_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20200601_20200630_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20210201_20210228_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20190801_20190831_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20201201_20201231_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20200301_20200331_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20190901_20190930_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20200701_20200731_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20191001_20191031_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20210501_20210531_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20190322_20190430_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20210101_20210131_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20200501_20200531_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20210801_20210826_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20200101_20200131_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20201101_20201130_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20190601_20190630_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20210301_20210331_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20210701_20210731_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20191201_20191231_044d9591N_093d2878W_LST.csv',
 'POWER_Point_Hourly_20200801_20200831_044d9591N_093d2878W_LST.csv']

In [95]:
map_old_cols = [
    'year',
    'month',
    'day',
    'hour',
    'ALLSKY_SFC_SW_DWN',
    'ALLSKY_KT',
    'ALLSKY_SRF_ALB',
    'SZA',
    'ALLSKY_SFC_PAR_TOT',
    'ALLSKY_SFC_UVA',
    'ALLSKY_SFC_UVB',
    'ALLSKY_SFC_UV_INDEX',
    'T2M',
    'RH2M',
    'PS',
    'WD10M'
]

In [107]:
def load_files(data_files):
    for file in data_files:
        yield(
            pd.read_csv('../csv_downloads/weather/' + file,
            header=20,
            names=map_old_cols
            ) 
        )

In [108]:
weather_data = pd.concat(load_files(data_files))
weather_data

,year,month,day,hour,ALLSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SRF_ALB,SZA,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,T2M,RH2M,PS,WD10M
0,2020,9,1,0,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,11.99,76.94,98.05,277.50
1,2020,9,1,1,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,11.79,77.75,98.05,264.52
2,2020,9,1,2,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,11.38,79.44,98.04,252.43
3,2020,9,1,3,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,11.15,80.62,98.01,242.06
4,2020,9,1,4,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,10.70,82.88,97.99,229.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,2020,8,31,19,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,13.58,73.56,97.90,282.99
740,2020,8,31,20,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,13.15,73.38,97.94,281.25
741,2020,8,31,21,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,12.61,74.19,97.95,284.89
742,2020,8,31,22,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,12.14,75.44,98.00,287.86
743,2020,8,31,23,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,11.93,76.12,98.04,285.27

In [109]:
weather_data.insert(loc=0, column='Time', value=pd.to_datetime(weather_data[['year','month','day', 'hour']]))
# weather_data['Time']=pd.to_datetime(weather_data[['year','month','day', 'hour']])
weather_data

,Time,year,month,day,hour,ALLSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SRF_ALB,SZA,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,T2M,RH2M,PS,WD10M
0,2020-09-01 00:00:00,2020,9,1,0,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,11.99,76.94,98.05,277.50
1,2020-09-01 01:00:00,2020,9,1,1,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,11.79,77.75,98.05,264.52
2,2020-09-01 02:00:00,2020,9,1,2,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,11.38,79.44,98.04,252.43
3,2020-09-01 03:00:00,2020,9,1,3,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,11.15,80.62,98.01,242.06
4,2020-09-01 04:00:00,2020,9,1,4,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,10.70,82.88,97.99,229.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,2020-08-31 19:00:00,2020,8,31,19,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,13.58,73.56,97.90,282.99
740,2020-08-31 20:00:00,2020,8,31,20,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,13.15,73.38,97.94,281.25
741,2020-08-31 21:00:00,2020,8,31,21,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,12.61,74.19,97.95,284.89
742,2020-08-31 22:00:00,2020,8,31,22,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,12.14,75.44,98.00,287.86
743,2020-08-31 23:00:00,2020,8,31,23,0.0,-999.0,-999.0,90.0,0.0,0.0,0.0,0.0,11.93,76.12,98.04,285.27

In [104]:
output_files = os.listdir('../csv_downloads/solar_output')
output_files

['19_production.csv', '21_production.csv', '20_production.csv']

In [103]:
def load_output(output_files):
    for file in output_files:
        yield(
            pd.read_csv('../csv_downloads/solar_output/' + file,
            parse_dates=['Time']
            ) 
        )

In [105]:
output_data = pd.concat(load_output(output_files))
output_data

                    Time  Energy (Wh)
0    2019-03-22 07:00:00          124
1    2019-03-22 08:00:00         1437
2    2019-03-22 09:00:00         2602
3    2019-03-22 10:00:00         4759
4    2019-03-22 11:00:00         6529
...                  ...          ...
4994 2020-12-31 13:00:00            0
4995 2020-12-31 14:00:00            0
4996 2020-12-31 15:00:00            0
4997 2020-12-31 16:00:00            0
4998 2020-12-31 22:00:00            0

[12432 rows x 2 columns]

In [110]:
merged_data = pd.merge(weather_data, output_data, on='Time')
merged_data

,Time,year,month,day,hour,ALLSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SRF_ALB,SZA,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,T2M,RH2M,PS,WD10M,Energy (Wh)
0,2020-09-01 06:00:00,2020,9,1,6,46.21,0.22,0.15,81.06,19.95,2.57,0.01,0.05,12.11,77.25,97.98,218.33,0
1,2020-09-01 07:00:00,2020,9,1,7,163.04,0.38,0.15,70.91,68.50,8.83,0.08,0.38,13.30,71.88,98.04,210.81,213
2,2020-09-01 08:00:00,2020,9,1,8,284.90,0.44,0.16,60.56,124.40,16.55,0.25,1.23,14.30,68.19,98.03,201.18,622
3,2020-09-01 09:00:00,2020,9,1,9,393.73,0.47,0.12,51.03,171.62,22.79,0.46,2.30,15.26,66.00,98.02,195.21,1104
4,2020-09-01 10:00:00,2020,9,1,10,476.48,0.49,0.14,43.10,212.40,29.03,0.70,3.52,17.13,61.12,97.94,188.93,2455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12427,2020-08-31 15:00:00,2020,8,31,15,431.70,0.58,0.16,55.80,188.50,25.20,0.46,2.27,20.28,44.25,97.79,293.90,4883
12428,2020-08-31 16:00:00,2020,8,31,16,283.93,0.52,0.17,65.88,123.42,15.94,0.20,0.95,18.98,53.19,97.82,291.28,3906
12429,2020-08-31 17:00:00,2020,8,31,17,170.59,0.55,0.19,76.45,71.92,8.26,0.04,0.23,18.39,58.88,97.84,287.26,1432
12430,2020-08-31 18:00:00,2020,8,31,18,31.04,0.42,0.15,86.84,10.45,1.24,0.00,0.02,15.51,71.00,97.87,283.99,654
12431,2020-08-31 19:00:00,2020,8,31,19,0.00,-999.00,-999.00,90.00,0.00,0.00,0.00,0.00,13.58,73.56,97.90,282.99,115

In [111]:
merged_data.to_csv('../csv_downloads/merged_data.csv', index = False)