In [1]:
from sklearn import tree
import pandas as pd
import os
from datetime import datetime

In [2]:
#data_files = os.listdir('../csv_downloads')
#data_files

In [3]:
consolidated_data = pd.read_csv('../csv_downloads/merged_data.csv')
consolidated_data

,Time,year,month,day,hour,ALLSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SRF_ALB,SZA,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,T2M,RH2M,PS,WD10M,Energy (Wh)
0,2020-09-01 06:00:00,2020,9,1,6,46.21,0.22,0.15,81.06,19.95,2.57,0.01,0.05,12.11,77.25,97.98,218.33,0
1,2020-09-01 07:00:00,2020,9,1,7,163.04,0.38,0.15,70.91,68.50,8.83,0.08,0.38,13.30,71.88,98.04,210.81,213
2,2020-09-01 08:00:00,2020,9,1,8,284.90,0.44,0.16,60.56,124.40,16.55,0.25,1.23,14.30,68.19,98.03,201.18,622
3,2020-09-01 09:00:00,2020,9,1,9,393.73,0.47,0.12,51.03,171.62,22.79,0.46,2.30,15.26,66.00,98.02,195.21,1104
4,2020-09-01 10:00:00,2020,9,1,10,476.48,0.49,0.14,43.10,212.40,29.03,0.70,3.52,17.13,61.12,97.94,188.93,2455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12427,2020-08-31 15:00:00,2020,8,31,15,431.70,0.58,0.16,55.80,188.50,25.20,0.46,2.27,20.28,44.25,97.79,293.90,4883
12428,2020-08-31 16:00:00,2020,8,31,16,283.93,0.52,0.17,65.88,123.42,15.94,0.20,0.95,18.98,53.19,97.82,291.28,3906
12429,2020-08-31 17:00:00,2020,8,31,17,170.59,0.55,0.19,76.45,71.92,8.26,0.04,0.23,18.39,58.88,97.84,287.26,1432
12430,2020-08-31 18:00:00,2020,8,31,18,31.04,0.42,0.15,86.84,10.45,1.24,0.00,0.02,15.51,71.00,97.87,283.99,654
12431,2020-08-31 19:00:00,2020,8,31,19,0.00,-999.00,-999.00,90.00,0.00,0.00,0.00,0.00,13.58,73.56,97.90,282.99,115

In [4]:
clean_consolidated_data = consolidated_data[~consolidated_data.eq(-999).any(1)]

In [5]:
target = clean_consolidated_data["Energy (Wh)"]
#target_names = ["negative", "positive"]

In [6]:
data = clean_consolidated_data.drop("Energy (Wh)", axis=1)
feature_names = data.columns
data.head()

,Time,year,month,day,hour,ALLSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SRF_ALB,SZA,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,T2M,RH2M,PS,WD10M
0,2020-09-01 06:00:00,2020,9,1,6,46.21,0.22,0.15,81.06,19.95,2.57,0.01,0.05,12.11,77.25,97.98,218.33
1,2020-09-01 07:00:00,2020,9,1,7,163.04,0.38,0.15,70.91,68.50,8.83,0.08,0.38,13.30,71.88,98.04,210.81
2,2020-09-01 08:00:00,2020,9,1,8,284.90,0.44,0.16,60.56,124.40,16.55,0.25,1.23,14.30,68.19,98.03,201.18
3,2020-09-01 09:00:00,2020,9,1,9,393.73,0.47,0.12,51.03,171.62,22.79,0.46,2.30,15.26,66.00,98.02,195.21
4,2020-09-01 10:00:00,2020,9,1,10,476.48,0.49,0.14,43.10,212.40,29.03,0.70,3.52,17.13,61.12,97.94,188.93

In [7]:
data2 = data.drop("Time", axis=1)
feature_names = data2.columns

In [8]:
data = data2.drop("year", axis=1)
feature_names = data.columns

In [9]:
#data2 = data.drop("month", axis=1)
#feature_names = data2.columns

In [10]:
#data = data2.drop("day", axis=1)
#feature_names = data.columns

In [11]:
#data2 = data.drop("hour", axis=1)
#feature_names = data2.columns
data.head()

,month,day,hour,ALLSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SRF_ALB,SZA,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,T2M,RH2M,PS,WD10M
0,9,1,6,46.21,0.22,0.15,81.06,19.95,2.57,0.01,0.05,12.11,77.25,97.98,218.33
1,9,1,7,163.04,0.38,0.15,70.91,68.50,8.83,0.08,0.38,13.30,71.88,98.04,210.81
2,9,1,8,284.90,0.44,0.16,60.56,124.40,16.55,0.25,1.23,14.30,68.19,98.03,201.18
3,9,1,9,393.73,0.47,0.12,51.03,171.62,22.79,0.46,2.30,15.26,66.00,98.02,195.21
4,9,1,10,476.48,0.49,0.14,43.10,212.40,29.03,0.70,3.52,17.13,61.12,97.94,188.93

In [12]:
data2 = data[[
    'month',
    # 'day',
    'hour',
    'ALLSKY_SFC_SW_DWN',
    # 'ALLSKY_KT',
    # 'SZA',
    'T2M',
    'RH2M'
    ]]
#y = clean_data["Energy (Wh)"].values.reshape(-1, 1)
#print(X.shape, y.shape)

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data2, target, random_state=42)

In [14]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.027062418158009603

In [15]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=150)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.03884766477520733

In [16]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.27002497647073853, 'hour'),
 (0.2659806449648611, 'ALLSKY_SFC_SW_DWN'),
 (0.256431901231904, 'ALLSKY_KT'),
 (0.11126282691243197, 'day'),
 (0.09629965042006433, 'month')]